---
import UserInfo from "../components/UserInfo.jsx";
import Navbar from "../components/Navbar.jsx";
---

<html>
  <head>
    <link rel="stylesheet" href="/styles.css">
    <title>Página Principal</title>
  </head>
  <body>
    <UserInfo client:load />
    <Navbar client:load />
  </body>
</html>
